<!doctype html>

<link rel="stylesheet" href="../../../static/visuals.css?819252232312228334500344772471325">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Whoney - {% block title %}{% endblock %}</title>
    </head>

<body>
    <header class="header">
        <img src="../../../static/wlogo.png" alt="wlogo" style="float:left; width:12%;"><h1>Pesä: {{ hivename }} </h1>
    </header>
   
    <section class="section">
        <h2 style="padding-left: 20px; padding-top: 20px;">>Pesän valtiatar: {{queen}}. Laatikoita pesässä: {{box}}. </h2>
        <h2 style="padding-left: 20px; padding-bottom: 20px">Mitä hoivatoimenpiteitä teit?</h2>
    </section>

    <div class="lowerbox1" style="height: 350px;">
        <h2 style="padding-left: 20px;">Tarkistin pesän!</h2>
            <form action="/checkup"; method="POST" onsubmit="return check(this)" style="padding-left: 20px;">
            <h3>Oliko kaikki kunnossa?</h3>
            <input type="radio" name="allok" value="1">
            <label for="1">Kaikki ok!</label><br>
            <input type="radio" name="allok" value="2">
            <label for="2">Ei, tarkkailulistalle!</label><br>
            <input type="radio" name="allok" value="3">
            <label for="3">Ei, pesä kuollut. Iso sniif.</label><br>
            <h3>Kerro lisää:</h3>
            <input type="text" name="explain" style="padding-left: 20px; padding-bottom: 20px;"><br>
            <input type="submit" value="Tallenna tarkistus!" style="background: black; color: white; height: 40px;">
            <input type="hidden" name=hive_id value="{{ hive_id }}">
            <input type="hidden" name=date value="{{ date }}">
        </form>
        <script>
            function check(form) {
                if (form.allok.value == "") {
                    alert("Valitse oliko kaikki kunnossa vai ei");
                    return false;
                }
                if (form.explain.value.length > 200) {
                    alert("Ihan näin paljon ei tarvitse runoilla. Max 200 merkkiä!")
                    return false;
                }
                return true;
            }
        </script>
        <br>
    </div>

    <div class="lowerbox2" style="height: 350px;">
        <h2 style="padding-left: 20px;">Selvitin havaitun ongelman!</h2>
        <h3 style="padding-left: 20px;">Minkä ongelman ratkaisit?</h3>
        <form action="/fixproblem"; method="POST" style="padding-left: 20px;">
            <p><SELECT input type="text" name="checkup_id">
            {% for n in notoks %}
            <OPTION value={{n.checkup_id}}>Pesä: {{n[0]}}, {{n[1]}}</OPTION>
            {% endfor %}</SELECT></p>
            <h3>Kerro lisää:</h3>
            <input type="text" name="explain" style="padding-bottom: 20px;"><br>
            <input type="submit" value="Tallenna selvitys!" style="background: black; color: white; height: 40px;">
            <input type="hidden" name=hive_id value="{{ hive_id }}">
            <input type="hidden" name=date value="{{ date }}">
        </form>
    </div>

    <div class="lowerbox1" style="background-color: goldenrod;">    
        <h2 style="padding-left: 20px;">Lisäsin laatikon!</h2>
        <form action="/addbox"; method="POST" style="padding-left: 20px;">
            <input type="submit" value="Lisää laatikko" style="background: black; color: white; height: 40px;">
            <input type="hidden" name=hive_id value="{{ hive_id }}">
            <input type="hidden" name=date value="{{ date }}">
        </form>
        <br>
    </div>
 
    <div class="lowerbox2" style="background-color: grey;">   
        <h2 style="padding-left: 20px;">Korjasin sadon!</h2>
        <form action="/harvest"; method="POST" style="padding-left: 20px;">
            <input type="submit" value="Korjaa sato!" style="background: black; color: white; height: 40px;">
            <input type="hidden" name=hive_id value="{{ hive_id }}">
            <input type="hidden" name=date value="{{ date }}">
        </form>
        <br>
    </div>  
  
        <div class="lowerbox1" style="height: 200px"> 
            <h2 style="padding-left: 20px;">Vaihdoin kuningattaren!</h2>
            <form action="/changequeen"; method="POST" style="padding-left: 20px;">
                <h3 style="padding-left: 20px;">Minkä niminen kuningatar pesään laitetaan:</h3>
                <p><SELECT input type="text" name="queen_id">
                {% for q in freequeens %}
                    <OPTION value={{q.queen_id}}>{{q.name}}</OPTION>
                {% endfor %}
                <input type="submit" value="Vaihda kuningatar" style="background: black; color: white; height: 40px;">
                <input type="hidden" name=hive_id value="{{ hive_id }}">
                <input type="hidden" name=date value="{{ date }}">
            </form>
        </div>
        <div class="lowerbox2" style="height: 200px">
            <h2 style="padding-left: 20px;">Ruokin porukan!</h2>
            <form action="/feeding"; method="POST" onsubmit="return check2(this)" style="padding-left: 20px;">
                <h3>Monta kiloa sokeria meni?</h3>  
                <input type="number" name="kg" value="Monta kiloa sokeria meni?"><br> 
                <input type="submit" value="Tallenna sokerit!" style="background: black; color: white; height: 40px;">
                <input type="hidden" name=hive_id value="{{ hive_id }}">
                <input type="hidden" name=date value="{{ date }}">
            </form>
            <br>
            <script>
                function check2(form) {
                    if (form.kg.value == "") {
                        alert("Kerrothan paljonko sokeria meni.");
                        return false;
                    }
                    return true;
                }
            </script>
        </div>
        <div class="aside" style="width: 100%; height: 200px; background-color:goldenrod; color: black;">
            <h2 style="padding-left: 20px; padding-top: 20px;">Torjuin tauteja!</h2>
            <form action="/disease"; method="POST" onsubmit="return check3(this)" style="padding-left: 20px;">
                <h3>Minkä toimenpiteen teit?</h3>
                {% for d in diseaces %}
                <input type="radio" name="diseace_id" value="{{d.diseace_id}}">{{d.name}}
                {% endfor %}
                <input type="submit" value="Tallenna torjunta!" style="background: black; color: white; height: 40px;">
                <input type="hidden" name=hive_id value="{{ hive_id }}">
                <input type="hidden" name=date value="{{ date }}">
            </form>
            <script>
                function check3(form) {
                    if (form.diseace_id.value == "") {
                        alert("Valitse minkä torjuntatoimen teit!");
                        return false;
                    }
                    return true;
                }
            </script>
        </div>

    <div style="background: white; color: black; padding-top: 20px; text-align: center; padding-bottom: 20px">
        Etusivulle pääset takaisin <a href="/">tästä</a>
    </div>

</body>
</html>

