{% extends "layout.html" %}
{% block title %}Investments - hive {% endblock %}
{% block content %}

<body>
    <header class="header">
        <img src="../static/wlogo.png" alt="wlogo" style="float:left;width:12%""><h1>Ostit pesän!</h1>
    </header>
    <br>
    <section class="section">
        <h3 style="padding-left: 20px;">Jos samalla ostit kuningattaren, etkä ole sitä vielä "rekisteriöinyt", tee se <a href="/buyqueen">tästä</a></h3>
        <h2 style="padding-left: 20px;">Kerro minkälaisen:</h2>
        <form action="/newh" method="POST" onsubmit="return check(this)" style="padding-left: 20px;">
            <h3>Mistä ostit:</h3> 
            <p><SELECT input type="text" name="producer_id">
            {% for p in producers %}
                <OPTION value={{p.producer_id}}>{{p.name}}</OPTION>
            {% endfor %}
                </SELECT></p>
                <h3>Minkä niminen pesä on:</h3>
                <input type="text" name="name"></p>   
                <h3>Minkä niminen kuningatar pesään laitetaan:</h3>
                <p><SELECT input type="text" name="queen_id">
            {% for q in queens %}
                <OPTION value={{q.queen_id}}>{{q.name}}</OPTION>
            {% endfor %}
                </SELECT></p>
            <h3>Ostopäivä:</h3>
            <input type="date" name="date"></p>
            <input type="submit" value="Tallenna" style="background: black; color: white; height: 40px;">
            </form>
            <br>
        <script>
            function check(form) {
                if (form.producer_id.value =="") {
                    alert("Valitse tuottaja");
                    return false;
                }
                if (form.name.value =="") {
                    alert("Risti pesä!");
                    return false;
                }
                if (form.name.value.length > 100) {
                    alert("Pesä pärjää lyhyemmälläkin nimellä!");
                    return false;
                }
                if (form.queen_id.value =="") {
                    alert("Valitse kuningatar");
                    return false;
                }        
                if (form.date.value =="") {
                    alert("Valitse päivämäärä");
                    return false;
                }
                return true;
            }
        </script>
    </section>
    <div style="background: white; color: black; padding-top: 20px; text-align: center; padding-bottom: 20px">
        Etusivulle pääset takaisin <a href="/">tästä</a>
    </div>
{% endblock %}
</body>