{% extends "layout.html" %}
{% block title %}Error{% endblock %}
{% block content %}
<body>
    <header class="header">
        <img src="../static/wlogo.png" alt="wlogo" style="float:left;width:12%""><h1>O-ou!</h1>
    </header>
    <br>
    <section class="section">
        <h1 style="padding-left: 20px; padding-top: 20px">Kaikki meni pieleen ja mehiläiset suuttu!</h1>
        {{ errordet }}
    </section>
    <div style="background: white; color: black; padding-top: 20px; text-align: center; padding-bottom: 20px">
        Etusivulle pääset takaisin <a href="/">tästä</a>
    </div>
{% endblock %}
</body>