<h1>Investoinnit</h1>
<h2>Minkä investoinnin teit?</h2>
<br>
<h3>Ostin kuningattaren!</h3>
<form action="/newq" method="POST">
Mistä ostit: 
<p>
<input type="radio" name="producer" value="Omaa tuotantoa">Omaa tuotantoa
<input type="radio" name="producer" value="Mesimestari">Mesimestari
</p>
<p>Minkä niminen kuningatar on:
<input type="text" name="qname"></p>   
<p>Ostopäivä:
<input type="date" name="ostopvm"></p>
<input type="submit" value="Tallenna">
</form>
<br>
<h3>Ostin pesän!</h3>
<form action="/newh" method="POST">
Mistä ostit: 
<p>
<input type="radio" name="producer" value="1">Omaa tuotantoa
<input type="radio" name="producer" value="2">Mesimestari
</p>
<p>Minkä niminen pesä on:
<input type="text" name="hname"></p>   
<p>Minkä niminen kuningatar pesään laitetaan:
<input type="text" name="qname"></p>   
<p>Ostopäivä:
<input type="date" name="ostopvm"></p>
<input type="submit" value="Tallenna">
</form>
<br>
<form action="/" method="GET">
<input type="submit" value= "Alkuun!">
</form>