{% extends "layout.html" %}
{% block title %}New queen added{% endblock %}
{% block content %}
<body>
    <header class="header">
        <img src="../static/wlogo.png" alt="wlogo" style="float:left;width:15%""><h1>Wilmalan Hujanan omavalvonta</h1>
    </header>
    <br>
    <section class="section" style="padding-left: 20px;">
        <h1>Uusi q tallennettu!</h1>
    </section>
    <div style="background: white; color: black; padding-top: 20px; text-align: center; padding-bottom: 20px">
        Etusivulle pääset takaisin <a href="/">tästä</a>
    </div>
{% endblock %}
</body>
